body {
  background-image: url("../technology/background-technology-desktop.jpg");
  background-size: cover;
  color: white;
  font-family: sans-serif;
}

.contain {
  gap: 250px;
  align-items: center;
  margin-top: 50px;
  margin-left: 300px;
}

.contain2 {
  display: flex;
  width: 100%;
  gap: 30px;
  align-items: center;
}

.tex-meio {
  color: rgb(173, 178, 182);
  width: 400px;
  line-height: 2;
  padding-bottom: 50px;
}

.veiculo {
  margin-bottom: 50px;
  color: rgb(255, 255, 255);
  font-size: 5rem;
}

.final-veiculo {
  display: flex;
  gap: 50px;
}

.img-veic {
  margin-left: 100px;
}

.tipoVeic {
  font-size: 2.5rem;
  margin-bottom: 50px;
}
