body {
  background-image: url("../technology/background-technology-desktop.jpg");
  background-size: cover;
  color: white;
  font-family: sans-serif;
}

.contain {
  gap: 250px;
  align-items: center;
  margin-top: 50px;
  margin-left: 300px;
}

.contain2 {
  display: flex;
  width: 100%;
  gap: 30px;
  align-items: center;
}

.tex-meio {
  color: rgb(173, 178, 182);
  width: 400px;
  line-height: 1.8;
  padding-bottom: 50px;
}

.final-veiculo {
  display: flex;
  gap: 50px;
}

.img-veic {
  width: 600px;
  height: 450px;
  margin-left: 270px;
  justify-content: end;
}

.title-veic {
  font-size: 2.2rem;
  margin-bottom: 50px;
}
